name: WebdriverIO Tests

on:
  push:
    branches: [ main, no-docker ]
  pull_request:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci
      
      - name: Install Allure commandline
        run: npm install -g allure-commandline

      - name: Run Chrome tests
        run: npm run test:chrome

      - name: Generate Allure Report
        run: npm run report:generate

      - name: Deploy Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
